export ADDR=":8180"
export DOCS_URL="localhost:8180"
export DB_ADDR=postgres://postgres:postgres@localhost:5432/gopherhub?sslmode=disable
export SENDGRID_API_KEY="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"
export TEMP_SENDGRID_API_KEY="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"
export FROM_EMAIL="chisty.kaz@gmail.com"
export ENV="production"
export BASIC_AUTH_USERNAME="admin"
export BASIC_AUTH_PASSWORD="admin"
